.settingsIconButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 1.5rem;
    width: 1.5rem;
}

.menuIcon {
    width: 100%;
    height: 100%;
}

.settingsIconButton:hover {
    transform: scale(1.01);
    transition: transform 0.1s ease-in-out;
}
